<div class='row'>
  <div class='col-sm-3'>
    <span class='user-block'>
      <%= link_to(tweet.user.name, "/users/#{tweet.user.id}") %>
      <%= link_to("@" + tweet.user.handle, "/users/#{tweet.user.id}") %>
    </span>
  </div>

  <div class='col-sm-6'>
    <span class='tweet-block'>
      <div class='tweet-in-list'>
        <div>
          <%= link_to(tweet.user.name, "/users/#{tweet.user.id}") %>
          <%= link_to("@" + tweet.user.handle, "/users/#{tweet.user.id}") %>
        </div>
        <div><%= link_to(tweet.body, "/tweets/#{tweet.id}", class: 'tweet-text') %></div>
        <div class=button><%= link_to("Show Tweet", "/tweets/#{tweet.id}", class: 'tweet-button') %></div>
      </div>
    </span>
  </div>

  <div class='col-sm-3'>
    <div class='user-block'>
      Checkout these tweeters:
    </div>
  </div>
</div>
