<div class='row'>
  <div class='col-md-3'>
    <span class='user-block'>
      <div><%= link_to(user.name, "/users/#{user.id}") %></div>
      <div><%= link_to("@" + user.handle, "/users/#{user.id}") %></div>
      <div class='user-butts'>
        <div><%= link_to("Edit Profile", edit_user_path(user), class: 'edit-button') %></div>
        <div><%= link_to("Delete Profile", user_path(user), class: 'edit-button', method: :delete, data: { confirm: 'Are you sure you want to delete this user?' }) %></div>
      </div>
    </span>
  </div>

  <div class='col-md-6'>
    <div class='tweet-in-list'>
      What's happening?
      <%= link_to("Tweet something new...", new_tweet_path(Tweet.new(user_id:user.id)), class: 'edit-button') %>
    </div>
    <% user.tweets.reverse.each do |t| %>
      <div class='tweet-in-list'>
        <div>
          <%= link_to(user.name, "/users/#{user.id}") %>
          <%= link_to("@" + user.handle, "/users/#{user.id}") %>
        </div>
        <div><%= link_to(t.body, "/tweets/#{t.id}", class: 'tweet-text') %></div>
        <div class='button'><%= link_to("Show Tweet", "/tweets/#{t.id}", class: 'tweet-button') %></div>
        <div class='button'><%= link_to("Delete Tweet", tweet_path(t), class: 'tweet-button', method: :delete, data: { confirm: 'Are you sure you want to delete this tweet?' }) %></div>
      </div>
    <% end %>
  </div>

  <div class='col-md-3'>
    <div class='recs-block'>
      <div class='rec'>Followers:</div>
      <% users.each do |u| %>
        <div class='user-rec-row'>
          <%= link_to(u.name, "/users/#{u.id}") %>
          <%= link_to("@" + u.handle, "/users/#{u.id}") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
