<div class='row'>
  <div class='col-md-3'>
    <span class='user-block'>
      <div><%= link_to(user.name, "/users/#{user.id}") %></div>
      <div><%= link_to("@" + user.handle, "/users/#{user.id}") %></div>
      <div><%= link_to("Edit", edit_user_path(user), class: 'edit-button') %></div>
    </span>
  </div>

  <div class='col-md-6'>
    <div class='tweet-in-list'>
      What's happening?
      <%= link_to("Tweet something new...", new_tweet_path(Tweet.new(user_id:user.id)), class: 'edit-button') %>
    </div>
    <% user.tweets.reverse.each do |t| %>
      <div class='tweet-in-list'>
        <div>
          <%= link_to(user.name, "/users/#{user.id}") %>
          <%= link_to("@" + user.handle, "/users/#{user.id}") %>
        </div>
        <div><%= link_to(t.body, "/tweets/#{t.id}", class: 'tweet-text') %></div>
        <div class=button><%= link_to("Show Tweet", "/tweets/#{t.id}", class: 'tweet-button') %></div>
      </div>
    <% end %>
  </div>

  <div class='col-md-3'>
    <div class='user-block'>
      Check out these other tweeters!
    </div>
  </div>
</div>
